[submodule "Atlas/Libraries/spdlog"]
	path = Atlas/Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Atlas/Libraries/GLFW"]
	path = Atlas/Libraries/GLFW
	url = https://github.com/DPatell/glfw
[submodule "Atlas/Libraries/imgui"]
	path = Atlas/Libraries/imgui
	url = https://github.com/DPatell/imgui
